    <div class="row justify-content-center">
      <div class="col-12">
        <h4>Edit Past Event</h4>
        <%= render 'form', profile: @profile %>
        <%= link_to 'Back to books', books_path %> |
        <%= link_to 'Show my profile', @profile %>
      </div>
    </div>
