    <div class="row justify-content-center">
      <div class="col-12">
        <h4>Edit Past Event</h4>
        <%= render 'form', past_event: @past_event %>
        <%= link_to 'Back to home', root_path %> |
      </div>
    </div>
