<div id="navbar">
  <% if current_user %>
  <%= link_to 'Back to main page', root_path %>
  <%= link_to "All past events", past_events_path %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  <% end %>
</div>

<div class="form-container">
    <h5>Add a Past Event</h5>
    <div class="form-box">
        <div class="full-form">
            <%= render 'form' %>
        </div>
    </div>
</div>

