<div id="navbar">
  <a href="#home">Home</a>
  <a href="#events">Our Events</a>
  <a href="#contact">Contact Us</a>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete if current_user %>
</div>
