.my-pipeline {
  padding-top: 50px;
  padding-bottom: 25px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap:s wrap;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  div.future {
  width: 100vh
  }
}

@media screen and (max-width: 600px) {
  div.future {
  width: 100vh
  }
}

// @media screen and (min-width: 601px) {
//   div.future {
//   height: 550px;
//   }
// }


@media screen and (min-width: 768px) {
  div.pipeline-card {
    // display: flex;
    // height: auto;
    width: 42vw !important;
    // flex-direction: column;
    // // flex-wrap: wrap;
    // align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  div.pipeline-card {
    // display: flex;
    // height: auto;
    width: 42vw !important;
    // flex-direction: column;
    // // flex-wrap: wrap;
    // align-items: center;
    // margin-right: 5px !important;
    // margin-left: 5px !important;
  }
}


.my-pipeline-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  text-align: center;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

.my-pipeline-title h5 {
  text-align: center;
  color: #CCB774;
  padding-top: 10px;
  font-size: 30px;
}

.my-pipeline-title a {
  text-align: center;
  color: #CCB774;
  padding-top: 10px;
  font-size: 30px;
}

.my-pipeline-title a:hover {
  text-align: center;
  color: #CCB774;
  padding-top: 10px;
  font-size: 30px;
}

.my-pipeline-card p {
  text-align: center;
  color: grey;
  padding-top: 5px;
}