.banner-and-intro {
  height: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

.intro h2 {
	text-align: center;
	color: #CCB774;
}

.intro p {
	color: #B8BAC8;
  text-align: center;
}

.banner-and-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.intro p {
  text-align: justify;
  max-width: 900px;
}

@media screen and (min-width: 601px) {
  div.intro h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  div.intro h2 {
    font-size: 30px;
  }
}

@media screen and (min-width: 601px) {
  div.intro p {
    font-size: 24px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (max-width: 600px) {
  div.intro p {
    font-size: 16px;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}