// html {
//   box-sizing: border-box;
// }

// *, *:before, *:after {
//   box-sizing: inherit;
// }

.the-team h3 {
  text-align: center;
  color: #CCB774;
  padding-top: 10px;
}

.team-row {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 15px;
}


.team-column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 25px;
}

@media screen and (max-width: 650px) {
  .team-column {
    width: 100%;
    display: block;
  }
}

.team-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.team-card img {
  max-height: 300px;
  border-radius: 5px 5px 0px 0px;;
  object-fit: cover;
}

.team-card {
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  h5 {
    padding-top: 15px;
  }
}

.team-card::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.the-team h4 {
  text-align: center;
  color: #CCB774;
  padding-top: 10px;
}

@media screen and (min-width: 601px) {
  div.the-team h3 {
    font-size: 50px;
  }
}

@media screen and (max-width: 600px) {
  div.the-team h3 {
    font-size: 30px;
  }
}