.navbar-lewagon {
  background: black;
  display: flex;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

#logo {
  height: 60px;
  width: auto;
    margin: 0 0 0 0;
    padding: 0 16px;
}

.navbar {
  position: relative;
}

.logo-left {
  position: absolute;
  left: 0;
  padding-left: 25px;
}



.navbar-lewagon a {
    color: #CCB774;
    text-decoration: none;
}
.navbar-lewagon a:hover {
    color: #CCB774;
}



@media screen and (max-width: 600px) {
  div.navbar-lewagon {
  width: 100%;
  };
}

@media screen and (max-width: 600px) {
  a.nav-link {
    font-size: 12px;
    padding: 8px 4px;
  };
}

@media screen and (min-width: 800px) {
  a.nav-link {
    font-size: 20px;
    padding: 8px 30px;
  };
}

@media screen and (max-width: 600px) {
  img#logo {
    height: 50px;
    width: auto;
  }
}
