#past-events {
  background-color: #FBFBF2;
  padding-top: 50px;
  padding-bottom: 25px;
  height: auto;
}

// .past-event-info.show p {
//   padding: 0 200px !important;
//   justify-content: center !important;
// }

.my-pipeline-title a {
  margin-top: 25px !important;
  font-size: 24px !important;
}

.past-events-section h3 {
  text-align: center;
  color: #CCB774;
  padding-top: 10px;
}

.past-events-section h5 {
  text-align: center;
  color: #CCB774;
  padding-top: 5px;
}

.past-events-section h4 {
  text-align: center;
  color: black;
  padding-top: 5px;
}

.past-events-section p {
  text-align: center;
  color: grey;
  padding-top: 5px;
}

.past-events-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.event-card {
  max-width: 45vh;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
  padding-bottom: 15px;
  text-align: center;
  margin: 20px;
}

// @media screen and (min-width: 601px) {
//   div.past-events-section h5 {
//     font-size: 32px;
//   }
// }

@media screen and (min-width: 768px) {
  div.event-structure-card {
    display: flex;
    height: auto;
    width: 44vw !important;
    flex-direction: column;
    // flex-wrap: wrap;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  div.event-structure-card {
    display: flex;
    height: auto;
    width: 30vw;
    flex-direction: column;
    // flex-wrap: wrap;
    align-items: center;
  }
}


@media screen and (max-width: 600px) {
  div.past-events-section h5 {
    font-size: 24px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

// @media screen and (min-width: 601px) {
//   div.past-events-section h4 {
//     font-size: 40px;
//   }
// }

@media screen and (max-width: 600px) {
  div.past-events-section h4 {
    font-size: 32px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 600px) {
  div.event-card {
    width: 100vw;
  }
}
