#past-events {
  background-color: #FBFBF2;
  padding-top: 50px;
  padding-bottom: 25px;
  height: auto;
}

.past-event-info.show p {
  padding: 0 300px !important;
}

.my-pipeline-title a {
  margin-top: 25px !important;
  font-size: 24px !important;
}

.past-events-section h3 {
  text-align: center;
  color: #CCB774;
  padding-top: 10px;
}

.past-events-section h5 {
  text-align: center;
  color: #CCB774;
  padding-top: 5px;
}

.past-events-section h4 {
  text-align: center;
  color: black;
  padding-top: 5px;
}

.past-events-section p {
  text-align: center;
  color: grey;
  padding-top: 5px;
}

.past-events-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.event-card {
  max-width: 45vh;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: white;
  padding-bottom: 15px;
  text-align: center;
  margin: 20px;
}

.my-pipeline-description {
  background-color: white;
  width: auto;
  height: 100px;
  padding: 10px;
  overflow-y: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
// .my-pipeline-description::-webkit-scrollbar {
//     display: none;
// }

/* Hide scrollbar for IE and Edge */
.my-pipeline-description {
    -ms-overflow-style: none;
}

.zoom {
  transition: transform .2s;
}

@media screen and (min-width: 1024px) {
    .zoom:hover {
        -ms-transform: scale(1.5);
        /* IE 9 */
        -webkit-transform: scale(1.5);
        /* Safari 3-8 */
        transform: scale(1.5);
        object-fit: contain !important;
        position: center;
        // margin: 0 50px;
    }
}

@media screen and (min-width: 768px) {
  div.event-structure-card {
    display: flex;
    height: auto;
    width: 44vw !important;
    flex-direction: column;
    // flex-wrap: wrap;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  div.event-structure-card {
    display: flex;
    height: auto;
    width: 30vw;
    flex-direction: column;
    // flex-wrap: wrap;
    align-items: center;
  }
}


@media screen and (max-width: 600px) {
  div.past-events-section h5 {
    font-size: 24px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 900px) {
  .past-event-info.show p {
    font-size: 16px !important;
    padding: 15px 30px !important;
    width: 100% !important;
  }
}

@media screen and (max-width: 1025px) {
  .past-event-info.show h5 {
    font-size: 16px !important;
    padding: 15px 20px !important;
    width: 100% !important;
    margin: 30px 0 !important;
  }
}

@media screen and (max-width: 600px) {
  div.past-events-section h4 {
    font-size: 32px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 600px) {
  div.event-card {
    width: 100vw;
  }
}
