.pipeline {
	background-color: #FBFBF2;
	padding-top: 25px;
  padding-bottom: 70px;
  height: auto;
}

.pipeline-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.pipeline-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 35vw;
  margin: 20px;
  text-align: center;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}

.pipeline-card {
  text-align: center;
  color: black !important;
  position: relative;
}

.my-pipeline-row .index {
  display: flex;
  flex-direction: row;

}

.pipeline h5 {
  text-align: center;
  color: #CCB774;
  padding-top: 5px;
}

.pipeline h4 {
  text-align: center;
  color: black;
  padding-top: 5px;
  padding-bottom: 50px;
}

.pipeline p {
  text-align: center;
  color: grey;
  padding-top: 5px;
}


// @media screen and (min-width: 601px) {
//   div.pipeline h5 {
//     font-size: 32px;
//   }
// }

@media screen and (max-width: 600px) {
  div.pipeline h5 {
    font-size: 24px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

// @media screen and (min-width: 601px) {
//   div.pipeline h4 {
//     font-size: 40px;
//   }
// }

@media screen and (max-width: 600px) {
  div.pipeline h4 {
    font-size: 32px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

// @media screen and (min-width: 601px) {
//   div.pipeline p {
//     font-size: 24px;
//   }
// }

@media screen and (max-width: 600px) {
  div.pipeline p {
    font-size: 16px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 600px) {
  div.pipeline-card {
    width: 100vh;
  }
}

// see more events
.read-more-state {
  display: none;
}

.read-more-wrap{

}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
  padding: 15px;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 100px;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}

